<h1>Cadastrar Memorize</h1>
<form action="/tips/create" method="POST" class="form">
    <div class="criarPessoa ">
        <label for="title">Titulo</label>
        <input type="text" name="title" placeholder="Digite o nome do usuário">
    </div>
    <div class="criarPessoa ">
        <label for="description">Descrição</label>
        <input type="text" name="description" placeholder="Digite sua ocupação">
    </div>
    <div class="criarPessoa ">
        <label for="dica">Dica</label>
        <input type="text" name="dica" placeholder="Há alguma dica adicional?">
    </div>
    <div class="criarPessoa">
        <input type="text" name="author">
        <label for="author">Autor</label>
    </div>
    <input type="submit" value="Cadastrar">
</form>