<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <title>Lista de estudos</title>
</head>

<body>
    <div class="criarPessoa">
        <details>
            <summary class="titulos">
                Criar conexão com banco de dados
            </summary>
            <p>
            <pre class="criarPessoa1">
<code>
const { Sequelize } = require('sequelize')

const sequelize = new Sequelize('nomedobanco', 'root', 'password', {
    host: 'localhost',
    dialect: 'mysql', 
})


module.exports = sequelize
</code>
            </pre>
            </p>
            <span>Dialect é a propriedade para usar o tipo de banco se é Mysql, mongodb ou outros</span>
        </details>
    </div>
    <div class="criarPessoa">
        <details>
            <summary class="titulos">
                Função de inserir dados no banco
            </summary>
            <p>
            <pre class="criarPessoa1">
<code>
function criarPessoa() {
const pessoas = [
{
    nome: 'Victor',
    sobrenome: 'Ferreira',
    email: 'contato@victorferreira.dev.br',
    cpf: '113.123.123-39',
    telefone: '(31) 99106-0445',
    rg: '129837-PCMG'
},
{
    nome: 'Victor',
    sobrenome: 'Ferreira',
    email: 'contato@victorferreira.dev.br',
    cpf: '113.123.123-39',
    telefone: '(31) 99106-0445',
    rg: '129837-PCMG'
}
]
Pessoa.bulkCreate(pessoas).then(Pessoa => console.log(Pessoa))
}
criarPessoa();
</code>
            </pre>
            </p>
            <span class="criarPessoa1">Usa-se o método bulkCreate para criar de uma vez vários objetos e enviar para o
                banco</span>
        </details>
    </div>

    <div class="criarPessoa">
        <details>
            <summary class="titulos">
                Função de Deletar dados no banco
            </summary>
            <p>
            <pre class="criarPessoa1">
<code>
function deletePessoa(id) {
    Pessoa.destroy({
        where: {
            id: id
        }
    }).then(Pessoa => console.log(Pessoa))
}
// deletePessoa(8);
</code>
            </pre>
            </p>
        </details>
    </div>

    <div class="criarPessoa">
        <details>
            <summary class="titulos">
                Função de atualizar dados no banco
            </summary>
            <p>
            <pre class="criarPessoa1">
<code>
function updatePessoa(id) {
    Pessoa.update({
        nome: 'Victor'
    }, {
        where: {
            id: id
        }
    }).then(Pessoa => console.log(Pessoa))
}
</code>
            </pre>
            </p>
        </details>
    </div>
</body>

</html>